// app global css in Sass form
@font-face {
  font-family: NotoSansCJKkr-Light;
  src: url("./fonts/NotoSansCJKkr-Light.otf");
}

body {
  font-family: NotoSansCJKkr-Light;
  user-select: none;
}

.scrollbar {
  overflow: hidden;
}

.scrollbar:hover {
  overflow: overlay;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
}